html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='shortcut icon' href='#')

  body
    //-nav
    .container(onclick='toggleSidebar()')
      .bar1
      .bar2
      .bar3
    #sidebar.sidebar
      a.active(href='/home') Home
      a(href='/profile') Profile
      a(href='/contact') Contact
      a(href='/about') About
    //-end

    
   
    //-login
    button(onclick="redirectToLogin()", style='width:auto;position:absolute; right:150px; top:0px;') Login      

   
    link(rel='stylesheet', href='/stylesheets/register.css')

    button(onclick="redirectToRegister()" style='width:auto; position:absolute; right:0px; top:0px;') Sign Up
    

  script.

    function toggleSidebar() {
      var sidebar = document.getElementById("sidebar");
      var content = document.querySelector(".content");
      if (sidebar.style.width === "200px") {
        sidebar.style.width = "0";
        content.style.marginLeft = "0";
      } else {
        sidebar.style.width = "200px";
        content.style.marginLeft = "200px";
      }
    }
     //-end.
     function redirectToLogin() {
      
      window.location.href = 'login';
     }
     function redirectToRegister() {
    
        window.location.href = 'register'; 
    }
    document.addEventListener('DOMContentLoaded', function() {
      const urlParams = new URLSearchParams(window.location.search);
      const username = urlParams.get('username');

      // 更新链接的 href 属性
      const homeLink = document.querySelector('a[href="/home"]');
      homeLink.href = `/home?username=${username}`;
      const profileLink = document.querySelector('a[href="/profile"]');
      profileLink.href = `/profile?username=${username}`;
      const aboutLink = document.querySelector('a[href="/about"]');
      aboutLink.href = `/about?username=${username}`;
      const contactLink = document.querySelector('a[href="/contact"]');
      contactLink.href = `/contact?username=${username}`;
    });
    
    
      
    