doctype html

link(rel='stylesheet', href='/stylesheets/register.css')

.container
  h1  Sign up form 
  form(action='/register' method='POST')
    figure
      a(href='http://localhost:3000/')
        img.avatar(src='/images/cat2.jpg' alt='Avatar')
        figcaption click me go back to home page;
    input(type='text' name='username' placeholder='username')
    input(type='password' name='password' placeholder='password')
    button.cover Submit
  

    